services:
  jupyter:
    image: jupyter/datascience-notebook:${JUPYTER_VERSION:-latest}
    container_name: jupyter-infra
    restart: unless-stopped
    user: root
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - GRANT_SUDO=yes
      - NB_UID=1000
      - NB_GID=1000
      - JUPYTER_TOKEN=${JUPYTER_TOKEN:-admin123}
    volumes:
      - ../../../../volumes/jupyter:/home/jovyan/work
    networks:
      - infra-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jupyter.rule=Host(`jupyter.127.0.0.1.traefik.me`)"
      - "traefik.http.routers.jupyter.entrypoints=web"
      - "traefik.http.services.jupyter.loadbalancer.server.port=8888"

networks:
  infra-network:
    external: true
