services:
  ntfy:
    image: binwiederhier/ntfy:${NTFY_VERSION:-latest}
    container_name: ntfy-infra
    restart: unless-stopped
    command:
      - serve
    environment:
      - NTFY_BASE_URL=http://ntfy.127.0.0.1.traefik.me:9000
      - NTFY_UPSTREAM_BASE_URL=https://ntfy.sh
    volumes:
      - ntfy-cache:/var/cache/ntfy
      - ntfy-data:/var/lib/ntfy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ntfy.rule=Host(`ntfy.127.0.0.1.traefik.me`)"
      - "traefik.http.services.ntfy.loadbalancer.server.port=80"
    networks:
      - infra-network

volumes:
  ntfy-cache:
  ntfy-data:

networks:
  infra-network:
    external: true
